<nav aria-label="breadcrumb" style="padding-inline: 1rem">
  <ul hx-boost="true">
    <li>
      <a href="/">Home</a>
    </li>
    @if(postTitle)
    <li>
      {{postTitle}}
    </li>
    @end
  </ul>
</nav>
